{# MEAL #}

{% extends 'layout.html.twig' %}

{% block content %}

<div class="container">
    <div class="row">
        {% for meal in meals %}
        <div class="col-sm-4">
            <div class="card m-1" >



                <img src= {{ "/assets/images/meal_picture/image0" ~ loop.index  ~ ".jpeg"}} class="card-img-top" alt="...">
                <div class="card-body ">
                    <h5 class="card-title">{{ meal.name_meal }}</h5>
                    <p class="card-text">{{ meal.description_meal }}</p>
                    <h5 class="card-title">Quantité disponible : {{ meal.quantity_max }}</h5>
                    <h3 class="card-title">Prix : {{ meal.price }} €</h3>
                    <a href="#" class="btn btn-primary">Ajouter au panier</a>
                </div>

            </div>
        </div>
            {% endfor %}

    </div>

    {% endblock %}
